# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
*.egg-info/

# Data & models
data/US8K_commercial_subset/audio/
# outputs 전체 제외
outputs/*
# 단, 모델만 허용
!outputs/models/
!outputs/models/best_fold1.pt

# OS / IDE
.DS_Store
.vscode/
.idea/

# Logs / temp
runs/
*.log

# UrbanSound8K big files
UrbanSound8K.tar.gz
**/sound_datasets/
data/US8K_commercial_subset/audio/
